tr {
  text-align: center;
}
.button {
  padding-bottom: 15px;
}

h1 {
  padding: 35px;
  text-decoration: underline;
}

i {
  padding-right: 7px;
}
h3 {
  padding-top: 10px;
  text-decoration: underline;
}
