.img_overlay {
    position: relative;
    overflow: hidden;
}

.img_overlay:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.5);
    z-index: 0;
}

.centered {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 45%;
    left: 50%;
   
      transform: translate(-50%, -50%);
}
