.head{
    text-align: center;
    font-weight: 900;
}

.sub {
    text-align: center;
    font-weight: 500;
}

.error {
    position: fixed;
    left: 30%;
    right: 30%;
    top: 30%;
    text-align: center;
}

.error a {
    text-decoration: none;
    font-weight: 500;
}

